# Local Django environment for backend/server
# Copy this file to .env and update values for your environment.

SECRET_KEY=django-insecure-CHANGE_ME
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Choose a local development database engine.
# For a local SQLite database use DB_ENGINE=sqlite
# For PostgreSQL use DATABASE_URL or DB_NAME/DB_USER/DB_PASSWORD/DB_HOST/DB_PORT
# DATABASE_URL=postgres://user:password@host:5432/dbname

DB_ENGINE=sqlite
DB_NAME=portfolio_db
DB_USER=brandon
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

DEFAULT_FROM_EMAIL=noreply@skillarea.com
ADMIN_EMAIL=

# For local development, leave GCS_BUCKET blank.
# Uploaded videos, photos, and profile pictures will be saved to backend/media/ and served from /media/.
GCS_BUCKET=
GCS_PROJECT=

STRIPE_PUBLIC_KEY=pk_test_51SxhOaGUJLqEEvhhiEuLA54Y1oWzTtw8ZXVNlZe9MORX19cSIOrcu2ITYlWQoFdvps2Zy46Cpp9pBAqcHzRcTYvT00yNRiH3z8
STRIPE_SECRET_KEY=sk_test_51SxhOaGUJLqEEvhh71JltBNXfBOFPAW2Dez7aAimDFTWIUj2ukV6gKXZtNINiQ1nGHAuqyNd1IEauEQNrZHIdJ3k002njGyjln
STRIPE_WEBHOOK_SECRET=whsec_y8rdN3fVq4OaxyJYqQHN4BgmFBYqASJv
